{% extends "basic.html" %}
{% block body %}
<form method="post" action="/workout/{{ data['name'] }}">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Basic Data</a></li>
            <li><a href="#tabs-2">Worksheet</a></li>
        </ul>
    <div id='tabs-1'>
        <table>
            <tr><td width=20%>Workout Date</td><td><input type=text name='workout_date' id="datepicker"></input></td></tr>
            <tr><td width=20%>Workout Journal</td><td>{{ form.workout_journal(rows=15, cols=50) }}</td></tr>
            <tr><td width=20%>Workout Journal - {{ history['date'] }}</td><td>{{ history['journal'] }}</td></tr>
        </table>
    </div>
    <div id='tabs-2'>
        <table>
            <tr>
                <th>Exercise</th>
                <th colspan=2>Sets</th>
                <th colspan=2>Reps</th>
                <th colspan=2>Weight</th>
                <th colspan=2>Time</th>
                <th colspan=2>Distance</th>
                <th colspan=2>Journal</th>
            </tr>
            <tr>
                <th></th>
                <th>Today</th><th>{{ history['date'] }}</th>
                <th>Today</th><th>{{ history['date'] }}</th>
                <th>Today</th><th>{{ history['date'] }}</th>
                <th>Today</th><th>{{ history['date'] }}</th>
                <th>Today</th><th>{{ history['date'] }}</th>
                <th>Today</th><th>{{ history['date'] }}</th>
            <tr>
            {% for exercise_data in data['exercises'] %}
                {% for exercise in exercise_data %}
                    <tr><td>{{ exercise }}</td>
                    {% if "Sets" in exercise_data[exercise] %}
                        <td><input type=text name={{ exercise }}_Sets size=10></td>
                        <td align=center>{{ history['tracking'][exercise]['Sets'] }}</td>
                    {% else %}
                        <td class=nodata></td>
                        <td class=nodata></td>
                    {% endif %}
                    {% if "Reps" in exercise_data[exercise] %}
                        <td><input type=text name={{ exercise }}_Reps size=10></td>
                        <td align=center>{{ history['tracking'][exercise]['Reps'] }}</td>
                    {% else %}
                        <td class=nodata></td>
                        <td class=nodata></td>
                    {% endif %}
                    {% if "Weight" in exercise_data[exercise] %}
                        <td><input type=text name={{ exercise }}_Weight size=10></td>
                        <td align=center>{{ history['tracking'][exercise]['Weight'] }}</td>
                    {% else %}
                        <td class=nodata></td>
                        <td class=nodata></td>
                    {% endif %}
                    {% if "Time" in exercise_data[exercise] %}
                        <td><input type=text name={{ exercise }}_Time size=10></td>
                        <td align=center>{{ history['tracking'][exercise]['Time'] }}</td>
                    {% else %}
                        <td class=nodata></td>
                        <td class=nodata></td>
                    {% endif %}
                    {% if "Distance" in exercise_data[exercise] %}
                        <td><input type=text name={{ exercise }}_Distance size=10></td>
                        <td align=center>{{ history['tracking'][exercise]['Distance'] }}</td>
                    {% else %}
                        <td class=nodata></td>
                        <td class=nodata></td>
                    {% endif %}
                    <td><textarea name={{ exercise }}_journal cols=20 rows=5></textarea></td>
                    <td><textarea readonly=readonly cols=20 rows=5>{{ history['tracking'][exercise]['journal'] }}</textarea></td>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
    <input type=submit value="Submit Worksheet">
    </div>
</form>
{% endblock %}
